<a href="https://colab.research.google.com/github/rbviana/data_science/blob/main/Strings.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Strings

Strings são caracteres declarados entre aspas(simples pu duplas), sendo que esses caracteres podem ser símbolos, números ou letras.

<center><img width="50%" src="https://image.freepik.com/free-photo/words-letter-made-with-wooden-cubes-brown-desk_23-2148101481.jpg
"></center>

In [3]:
# verificando o tipo
nome = 'Renata Viana'
type(nome)

str

Para imprimir *strings*, eu informo as mesmas dentro da função `print()`.

In [5]:
print(nome, 30)

Renata Viana 30

In [6]:
# associando strings às variáveis
nome = 'Renata'
sobrenome = 'Viana'
profissao = 'Analista de Sistemas'

# imprimir nome completo
print('Nome completo:')
print(nome, sobrenome)

# imprimir profissão
print(profissao)

Nome completo:
Renata Viana
Analista de Sistemas

É possível acessar os caracteres individuais dentro de uma string. Para isso, basta informar a posição desejada entre colchetes.

**Lembre-se sempre que a linguagem Python (assim como a maioria) começa com uma indexação em 0.** Veja como as posições da *string* `Carlos` estão distribuidas:

| **0** | **1** | **2** | **3** | **4** | **5** |
|:-----:|:-----:|:-----:|:-----:|:-----:|:-----:|
| R     | e     | n     | a     | t     | a     |

Uma dica, para acessar a última letra de uma *string* é só colocar `[-1]` ao final da mesma.

In [7]:
# criando a variável
nome = 'Renata'

# ver qual é a primeira letra da variável nome
nome[0]

'R'

In [8]:
# ver qual a última letra da variável nome
nome[-1]

'a'

## Função `len()`

Para saber o tamanho de uma *string*, existe no Python uma função chamada `len()`, que irá sempre retornar um valor do tipo `int`.

In [9]:
# verificar o tamanho da sequência de um DNA
dna = 'ATGCGGACCTAT'

len(dna)

12

## Função `split()`

A função `split()` serve para você separar strings baseando-se em um delimitador. Por exemplo. a variável nome da célula abaixo contém 3 nomes separados por vírgulas.

Para eu extrair esses nomes, basta eu executar `nomes.split(',')`, e o Python vai me retornar uma lista com 3 itens.

In [10]:
nomes = "Renata, Rayane, Renato"

nomes.split(',')

['Renata', ' Rayane', ' Renato']

## Função `replace()`

Como o nome já diz, ela serve para substituir caracteres dentro de uma string.

In [11]:
# criando a variável
valor = '9,50'

In [12]:
# trocando a vírgula por ponto
float(valor.replace(',', '.'))

9.5

## Função `strip()`

Remove os espaços em branco ou caracteres indesejados.

In [13]:
# criando a variável
nome = '          Renata Viana           '

# utilizando a função strip
nome.strip()

'Renata Viana'

Imagine que quando você importou seus dados eles vieram da seguinte forma: `R$9,00`.

Se você quiser converter para um número, precisa antes eliminar os caracteres `R$`.

In [14]:
# buscando somente o valor sem o simbolo de reais
'R$9,50'.strip('R$')

'9,50'

In [15]:
# trocando a vírgula por ponto 
"R$ 9,50".strip('R$').replace(',', '.')

' 9.50'

In [17]:
# transformando string em float
float('R$ 9,50'.strip('R$').replace(',', '.'))

9.5

## Slicing

O Python nos permite "cortar" as nossas strings, técnica chamada `slicing`.

In [18]:
nome = 'Renata'

Para fazer o `slicing`, nós chamamos a variável a ser "fatiada", e colocamos entre colchetes o index de início e fim, separados por `:`.

* [0] - R
* [1] - e
* [2] - n
* [3] - a
* [4] - t
* [5] - a

É importante saber que a posição final não é incluída. Ou seja, se chamarmos o slicing da seguinte forma:

nome[2:4], teríamos como retorno as letras
* [2] - n
* [3] - a

pois a letra `t` na posição quatro, nãoé incluída no slicing.

In [19]:
# slicing da variável nome
nome[2:4]

'na'

Também podemos omitir uma das variáveis, e isso fará que o slicing comece desde o primeiro index, e termine no último

In [20]:
# slicing do começo ao 4
nome[:4]

'Rena'

In [21]:
# slicing do 2 ao fim
nome[2:]

'nata'

Podemos adicionar as strings. Podemos fazer isso também usando slicing.

In [22]:
print('Nome Completo: ', nome)
print('Primeira parte: ', nome[:3])
print('Seunda parte: ', nome[3:] )
print('Nome feito adicionando Slices: ', nome[:3] + nome[3:] )

Nome Completo:  Renata
Primeira parte:  Ren
Seunda parte:  ata
Nome feito adicionando Slices:  Renata

Ainda falando de slices, nós também podemos definir um *step*, ou um passo de intervalo, para que os caracteres sejam pulados.

In [23]:
# criando a variável
num = '123456789'
print(num)

123456789

Como temos 27 caracteres, isso significa que nossos índices vão do 0 a0 26, totalizando 27.

Podemos usar o slicing para mostrar apenas os números i[ímpares, por exemplo, basta acrescentar um dígito extra, que é o `step`.

In [24]:
# slicing da variável num, começando do primeiro caractere, indo até o último
# em step 2, ou seja mostra um pula um
num[::2]

'13579'

In [25]:
# para visualizarmos os pares, basta começar da posição 2
# aqui temos dois `:`, pois indicamos o início, até (:) o final (:) e step 2.
num[1::2]

'2468'

## Convertendo Strings

Por padrão, podemos usar o Python para converter as strings em maíusculas, minúsculas, etc.

Esse processos são bastante úteis ao tratarmos dados em formato string.

In [26]:
# criando a variável a ser manipulada
nome = 'josé Santos da Silva'

In [27]:
nome

'josé Santos da Silva'

## capitalize()

Essa função transforma o primeiro caractere em maiúsculo.

In [28]:
# utilizando capitalze
nome.capitalize()

'José santos da silva'

## lower()

Essa função transforma todos os carateres em minúsculo.

In [29]:
# utilizando lower
nome.lower()

'josé santos da silva'

## upper()

Para tornar todas maiúsculas, basta usar essa função.

In [30]:
# utilizando upper
nome.upper()

'JOSÉ SANTOS DA SILVA'

## title()

Essa função transforma a primeira letra de cada palavra em maúscula.

In [31]:
# utilizando titl
nome.title()

'José Santos Da Silva'

## swapcase()

Aquii iremos inverter as coisas, trasnformando maiúsculas em minúsculas, e vice-versa.

In [32]:
# utilizando swapcase
nome.swapcase()

'JOSÉ sANTOS DA sILVA'

# Exercícios

Escreva seu nome e sobrenome, como nos exemplos acima, e imprima ele na tela usando a função `print()`:

In [33]:
nome = 'Renata'
sobrenome = 'Borges'
sufixo = 'Viana'

# imprimindo nome completo
print(nome, sobrenome, sufixo)

Renata Borges Viana

## Exercicío 2

Verifique o tamaho da *string* da variável `sha1_hash` abaixo:

In [34]:
sha1_hash = 'b91552e0b2b2183e85a4371020ab6b9f4ef83ed0'

# verificando o tamanho da variável
len(sha1_hash)

40

## Exercício 3

Converta a string `85,00 kg` em uma variável do tipo float.

In [48]:
peso = "85,00 kg"

# trasnformando a string em float
float(peso.strip('kg').replace(',', '.'))

85.0

## Exercício 4

Faça o que se pede com a variável em cada uma das células abaixo.

In [57]:
# criando a variável
x = 'Data, Science, é, demais!'

In [58]:
# a) imprima a quantidade de caracteres na variável x
print(len(x))

25

In [85]:
# b) retire as vírgulas da variável
x = x.replace(',', '')

In [86]:
# c) imprima apenas os 6 primeiros caracteres da variável
x[:6]

'Data S'

In [88]:
# d) imprima todos os caracteres, mostrando um e pulando um
x[::2]

'Dt cec  eas'

In [89]:
# e) transforme todas as letras em maiúsculas
x.upper()

'DATA SCIENCE É DEMAIS!'

In [90]:
# f) transforme todas as letras em minúsculas
x.lower()

'data science é demais!'